@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

/* font-family: 'Playfair Display', serif; */
*{
   background-color: blue;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container {
    width: 800px;
}

#display-joke {
    font-size: 4rem;
    font-family: 'Playfair Display', serif; 
    color: white;
}
.btn{
    padding: 10px;
    margin-top: 40px;
    border: none;
    background: transparent;
    border-bottom: 1px solid orange;
    color: orange;
    cursor: pointer;
}